<mat-card>
<mat-form-field>
  <mat-select placeholder="Nom" [(ngModel)]="selectedName">
    <mat-option *ngFor="let option of names" [value]="option.etablissement_lib">
      {{option.etablissement_lib}}
    </mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field>
  <mat-select placeholder="Champ Disciplinaire" [(ngModel)]="selectedMainfield">
    <mat-option *ngFor="let option of mainfields" [value]="option.gd_disciscipline_lib">
      {{option.gd_disciscipline_lib}}
    </mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field>
  <mat-select placeholder="Discipline" [(ngModel)]="selectedSubfield">
    <mat-option *ngFor="let option of subfields" [value]="option.discipline_lib">
      {{option.discipline_lib}}
    </mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field>
  <mat-select placeholder="Académie" [(ngModel)]="selectedAcademy">
    <mat-option *ngFor="let option of academies" [value]="option.aca_etab_lib">
      {{option.aca_etab_lib}}
    </mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field>
  <mat-select placeholder="Région" [(ngModel)]="selectedRegion">
    <mat-option *ngFor="let option of regions" [value]="option.reg_ins_lib">
      {{option.reg_ins_lib}}
    </mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field>
  <mat-select placeholder="Département" [(ngModel)]="selectedDepartment">
    <mat-option *ngFor="let option of departments" [value]="option.dep_ins_lib">
      {{option.dep_ins_lib}}
    </mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field>
  <mat-select placeholder="Ville" [(ngModel)]="selectedCity">
    <mat-option *ngFor="let option of cities" [value]="option.uucr_ins_lib">
      {{option.uucr_ins_lib}}
    </mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field>
  <mat-select placeholder="Diplome" [(ngModel)]="selectedDiplomaT">
    <mat-option *ngFor="let option of diploma_types" [value]="option.diplome_rgp">
      {{option.diplome_rgp}}
    </mat-option>
  </mat-select>
</mat-form-field>
<button mat-raised-button (click)="search()" color="primary">Rechercher</button>
</mat-card>
