<mat-card>
<mat-form-field>
  <mat-select placeholder="Nom" [(ngModel)]="selectedName">
    <mat-option [value]="undefined">{{'Ne pas définir'}}</mat-option>
    <mat-option *ngFor="let option of names" [value]="option.etablissement_lib" (click)="handler_school_name(option)">
      {{option.etablissement_lib}}
    </mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field>
  <mat-select placeholder="Champ Disciplinaire" [(ngModel)]="selectedMainfield">
    <mat-option [value]="undefined" (click)="handler_main_field(value)">{{'Ne pas définir'}}</mat-option>
    <mat-option *ngFor="let option of mainfields" [value]="option.gd_disciscipline_lib" (click)="handler_main_field(option)">
      {{option.gd_disciscipline_lib}}
    </mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field>
  <mat-select placeholder="Discipline" [(ngModel)]="selectedSubfield">
    <mat-option [value]="undefined">{{'Ne pas définir'}}</mat-option>
    <mat-option *ngFor="let option of subfields" [value]="option.discipline_lib" (click)="handler_sub_field(option)">
      {{option.discipline_lib}}
    </mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field>
  <mat-select placeholder="Académie" [(ngModel)]="selectedAcademy">
    <mat-option [value]="undefined" (click)="handler_academy(value)">{{'Ne pas définir'}}</mat-option>
    <mat-option *ngFor="let option of academies" [value]="option.aca_etab_lib" (click)="handler_academy(option)">
      {{option.aca_etab_lib}}
    </mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field>
  <mat-select placeholder="Région" [(ngModel)]="selectedRegion">
    <mat-option [value]="undefined" (click)="handler_region(value)">{{'Ne pas définir'}}</mat-option>
    <mat-option *ngFor="let option of regions" [value]="option.reg_ins_lib" (click)="handler_region(option)">
      {{option.reg_ins_lib}}
    </mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field>
  <mat-select placeholder="Département" [(ngModel)]="selectedDepartment">
    <mat-option [value]="undefined" (click)="handler_department(value)">{{'Ne pas définir'}}</mat-option>
    <mat-option *ngFor="let option of departments" [value]="option.dep_ins_lib" (click)="handler_department(option)">
      {{option.dep_ins_lib}}
    </mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field>
  <mat-select placeholder="Ville" [(ngModel)]="selectedCity">
    <mat-option [value]="undefined" (click)="handler_city(value)">{{'Ne pas définir'}}</mat-option>
    <mat-option *ngFor="let option of cities" [value]="option.uucr_ins_lib" (click)="handler_city(option)">
      {{option.uucr_ins_lib}}
    </mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field>
  <mat-select placeholder="Diplome" [(ngModel)]="selectedDiplomaT">
    <mat-option [value]="undefined">{{'Ne pas définir'}}</mat-option>
    <mat-option *ngFor="let option of diploma_types" [value]="option.diplome_rgp">
      {{option.diplome_rgp}}
    </mat-option>
  </mat-select>
</mat-form-field>
<button mat-raised-button (click)="filter()" color="primary">Rechercher</button>
</mat-card>


<table mat-table [dataSource]="resSearch" class="mat-elevation-z8">

  <ng-container matColumnDef="checked">
    <th mat-header-cell *matHeaderCellDef>Check</th>
    <td mat-cell *matCellDef="let element"> 
      <mat-checkbox [(ngModel)]="element.checked"></mat-checkbox>
    </td>
  </ng-container>

  <ng-container matColumnDef="school_name">
    <th mat-header-cell *matHeaderCellDef> Nom de l'école </th>
    <td mat-cell *matCellDef="let element"> {{element.school_name}} </td>
  </ng-container>

  <ng-container matColumnDef="main_field">
    <th mat-header-cell *matHeaderCellDef> Discipline </th>
    <td mat-cell *matCellDef="let element"> {{element.main_field}} </td>
  </ng-container>

  <ng-container matColumnDef="sub_field">
    <th mat-header-cell *matHeaderCellDef> Sous-discipline </th>
    <td mat-cell *matCellDef="let element"> {{element.sub_field}} </td>
  </ng-container>

  <ng-container matColumnDef="academy">
    <th mat-header-cell *matHeaderCellDef> Académie </th>
    <td mat-cell *matCellDef="let element"> {{element.academy}} </td>
  </ng-container>

  <ng-container matColumnDef="region">
    <th mat-header-cell *matHeaderCellDef> Région </th>
    <td mat-cell *matCellDef="let element"> {{element.region}} </td>
  </ng-container>

  <ng-container matColumnDef="department">
    <th mat-header-cell *matHeaderCellDef> Département </th>
    <td mat-cell *matCellDef="let element"> {{element.department}} </td>
  </ng-container>

  <ng-container matColumnDef="city">
    <th mat-header-cell *matHeaderCellDef> Ville </th>
    <td mat-cell *matCellDef="let element"> {{element.city}} </td>
  </ng-container>

  <ng-container matColumnDef="type_diploma">
    <th mat-header-cell *matHeaderCellDef> Type de diplôme </th>
    <td mat-cell *matCellDef="let element"> {{element.type_diploma}} </td>
  </ng-container>

  <ng-container matColumnDef="diploma_name">
    <th mat-header-cell *matHeaderCellDef> Nom du diplôme </th>
    <td mat-cell *matCellDef="let element"> {{element.diploma_name}} </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Localisation </th>
    <td mat-cell *matCellDef="let element" >
         <button mat-raised-button color="primary" (click)="localize(element)">Localiser</button> 
    </td>
  </ng-container> 

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>


<mat-card-actions>
  <button mat-raised-button (click)="saveSchools()" color="primary">Sauvegarder</button>  
</mat-card-actions>
<div class="container">
  <div class="form-group">
    <input id="searchid" placeholder="Localiser" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #search [formControl]="searchControl">
  </div>
  <agm-map id="map" [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
    <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
  </agm-map>
</div>

